.tr_inputs{
    margin-top: 4rem;
}
.td_input{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.td_input label{
    font-weight: bold;
    color: var(--primary_l);
}
.td_input input, .td_input select{
    margin-top: 0.8rem;
    padding: 0.8rem 0.6rem;
    font-size: 1rem;
    color: var(--primary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    outline-color: var(--primary_l);
}

.share_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
}
.td_input textarea{
    margin-top: 0.8rem;
    padding: 0.8rem 0.6rem;
    font-size: 1rem;
    color: var(--primary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    outline-color: var(--primary_l);
}
.tr_btn{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tr_btn input{
   padding: 10px 20px;
   font-size: 0.8rem;
   background-color: var(--primary_l);
   color: white;
   text-decoration: none;
   border-radius: 10px;
   transition: all 700ms ease-in;
   outline: none;
   border: none;
}
.tr_btn input:hover{
   background-color: var(--primary);
   cursor: pointer;
 }