body    											{width: auto;
													margin: 0;}


/*Styling of Header Starts Here*/

.header .top_nav1									{display: none;}



.head_wrapper .header .header_background			{height:80px;}


.header .top_nav2 									{display: grid;
													grid-template-columns: 70% 30%;
													align-items: center;
													grid-gap: ;}


.top_nav2 .logo    									{height: 80px;}

.top_nav2 .logo   img 								{transition: 0.3s;width: 150px;
													transition: 0.3s;height: 60px;
													transition: 0.3s;margin-left: 10%;
													transition: 0.3s;margin-top: 1%;}	

.top_nav2 .logo   img:hover							{transition: 0.3s; width: 153px;
													transition: 0.3s;height: 63px;
													transition: 0.3s;margin-left: 9.9%;
													transition: 0.3s;margin-top: 1.1%;}


.top_nav2 .navigation   							{display: none;}


.top_nav2 .mobile_navigation						{display: flex;
													height: 80px;
													margin-left: 0;}


.mobile_navigation .mobile_login					{margin-top: 6%;}



.mobile_navigation .mobile_login button				{width: 100px;
													height: 40px;
													transition: 0.5s; background: rgba(88, 28, 32, .6);
													border: 2px solid white;
													color: white;
													font-family: sans-serif;
													font-weight:;
													font-size: .9rem;
													cursor: pointer;}

.mobile_navigation .mobile_login button:hover     	{transition: 0.5s; background: rgba(255, 255, 255, .2);}



.mobile_navigation .mobile_menu_icon				{margin-top: 4%;
													display: flex;
													margin-left:;
													cursor: pointer;
													margin-left: 8%;}


.mobile_navigation .mobile_menu_icon section		{font-weight: bold;
													font-size: 3rem;
													color: white;
													}


.mobile_menu_icon .enter 							{display: none;}


.mobile_menu_icon .drop								{}


#mobile_menu_nav									{transition: 0.5s; height: 0px;
													overflow: hidden;
													width: 100%;}

.personal1											{transition: 0.5s; height: 0px;
													overflow: hidden;
													width: 100%;}


.persona .personal1									{display: flex;
													flex-direction: column;}



.business1											{transition: 0.5s; height: 0px;
													overflow: hidden;
													width: 100%;}


.business	.business1								{display: flex;
													flex-direction: column;}



.electronic_banking1								{transition: 0.5s; height: 0px;
													overflow: hidden;
													width: 100%;}


.electronic_banking .electronic_banking1			{display: flex;
													flex-direction: column;}


.online_banking1									{transition: 0.5s; height: 0px;
													overflow: hidden;
													width: 100%;}



.online_banking .online_banking1					{display: flex;
													flex-direction: column;}


.about_us1											{transition: 0.5s; height: 0px;
													overflow: hidden;
													width: 100%;}


.about_us .about_us1								{display: flex;
													flex-direction: column;}


.mobile_menu_nav .mobile_logos						{background: #BA8553;
													height: 45px;
													display: flex;
													justify-content: center;}


.mobile_menu_nav .mobile_logos a  					{margin-top: 0;}


.mobile_menu_nav .mobile_logos a:hover				{color: #BDA165;}




.mobile_menu_nav button								{width: 100%;
													height: 45px;
													border: none;
													border-bottom: 1px solid grey;
													display: flex;
													justify-content: flex-start;
													align-items: center;
													cursor: pointer;}



.mobile_menu_nav button p  							{margin-left: 3%;
													font-size: 1.2rem;
													font-weight: bold;
													color: #581C20;}


.mobile_menu_nav button h2 							{margin: 0;
													margin-left: 4%;
													font-weight: bold;
													font-size: 1.2rem;
													color: #4A4F4F;
													font-family: default;}


.mobile_menu_nav a 									{margin-left: 6%;
													text-decoration: none;
													height: 45px;
													width: 100%;
													margin-top: 0;
													color: black;
													font-weight: bold;
													display: flex;
													align-items: center;
													font-size: 1rem;}


.mobile_menu_nav a:hover							{color: #581C20;}



/*Start of Login Naviagtion*/
.mobile_login_nav									{height: 200px;
													width: 85%;
													left: 7.5%;
													top: 80px;
													position: absolute;
													z-index: 2;
													background: white;
													overflow: hidden;
													display: none;
													padding: 20px;
													box-sizing: border-box;}

.mobile_login_nav h2 								{color: #BA8553;
													font-size: 1.1rem;
													font-weight: lighter;}


.mobile_login_nav a  								{color: #581C20;
													font-size: 0.9rem;
													margin-top: 20px;
													margin-bottom: 20px;
													display: flex;
													align-items: center;}













/*Styling of Slider Starts Here*/
.slider 											{border-top: 3px solid #BA8553;
													height: 300px;
													width: 100%;
													overflow: hidden;}


.slides												{width: 200%;
													height: 300px;
													display: flex;}




.slides input										{display: none;}


.slide img 											{width: 100%;
													height: 500px;}







.navigation-auto									{position: absolute;
													display: flex;
													width: 90%;
													justify-content: center;
													margin-top: 260px;}


.navigation-manual									{position: absolute;
													width: 90%;
													margin-top: -40px;
													display: flex;
													justify-content: center;}



.sidenav  											{position: absolute;
													margin-top: -250px;
													z-index: ;
													transition: 1s; width: 90%;
													height: 180px;
													background: rgba(176, 122, 71, .2);
													overflow: hidden;
													border-top-right-radius: 20px;
													border-bottom-right-radius: 20px;}


.sidenav h1											{margin-top: 0;
													font-size: 3rem;}


.sidenav a 											{font-weight: lighter;
													font-size: 1rem;}


.sidenav:hover										{transition: 1s;width: 85%;}




.sidenav_texta										{border-bottom: 2px solid white;}


.sidenav_texta, .sidenav_textb						{height: 50%;
													width: 2000%;}


/*Styling of Slider Ends Here*/

/*Styling of Feature*/


.feature .feature_signup							{height: auto;
													width: ;
													background: #1A4C5A;
													display: flex;
													flex-direction: column;
													justify-content: center;
													align-items: center;
													border-top:;
													padding-bottom: 6%;}

.feature_signup a 									{margin-left: auto;
													margin-right: auto;
													margin-top: 0;}


.feature_signup	.newhere							{display: flex;
													justify-content: center;
													align-items: center;
													flex-direction: column;
													margin-left: auto;
													margin-right: auto;}


.feature_signup	.notnew								{display: flex;
													justify-content: center;
													align-items: center;
													flex-direction: column;}



.feature .feature_cont								{display: flex;
													flex-direction: column;
													width: ;
													text-align: center;
													padding-top: 17%;
													padding-left: auto;
													padding-right: auto;
													background: white;}


.feature_cont .featcont  							{font-size: 1.3rem;
													font-weight: ;
													font-family: sans-serif;
													color: #1A4C5A;
													text-align: center;
													padding-left: 5%;
													padding-right: auto;
													text-align: center;}


.feature_cont .featlogo								{display: flex;
													justify-content: center;
													align-items: center;
													margin-left: 5%;}


.feature_cont .featcont h1							{color: #581C20;
													font-weight: lighter;
													text-align: center;}



.feature_cont .featcont h2							{font-weight: lighter;
													color: #1A4C5A;}


.feature_cont .featcont p 							{color: #696969;
													font-weight: lighter;
													font-size: 1.4rem;}


.feature_cont .featcont a							{text-decoration: none;
													color: #581C20;}




/*End of Feature*/

/*Start of Content*/

.content  											{display: flex;
													flex-direction: column;													grid-gap: 3.5%;
													padding: 6%;
													width: auto;}


.content h1											{font-family: sans-serif;
													font-weight: lighter;
													color: #581C20;
													margin-bottom: 0;}


.content h2											{font-family: sans-serif;
													font-weight: lighter;
													color: #575656;
													margin-top:0;}


.content p											{font-family: sans-serif;
													font-weight: lighter;
													color: black;
													margin-top:;
													font-weight: lighter;
													font-size: 1rem;}




.content section									{display: flex;
													justify-content: center;}



.content a  										{width: 120px;
													height: 35px;
													border: 1px solid #581C20;
													display: flex;
													justify-content: center;
													align-items: center;
													text-decoration: none;
													transition: 0.5s; background: ;
													transition: 0.5s; color: #581C20;
													font-weight: bold;
													font-family: sans-serif;
													padding: 5px;
													margin-left:0px;}


.content a:hover									{transition: 0.5s; background: #581C20;
													transition: 0.5s;color: white;}


.content1, .content2, .content3						{text-align: center;
													margin-top: 5%;}


/*End of Content*/


/*Styling of Main*/

.main												{background: rgba(26, 76, 90, .8);
													padding-top: 15%;
													padding-bottom: 8%;
													padding-left: 3%;
													padding-right: 3%;}

.main .main_cont									{padding-left: 8%;}


.main  .main_cont 									{display: flex;
													flex-direction: column;}


.main  .main_cont .main1 .main1i					{text-align: left;}


.main_cont .main1 .main1i section					{display: flex;
													flex-direction: column;}


#financial  										{width: 170px;
													height: 35px;
													border: 1px solid #EAF7FE;
													display: flex;
													justify-content: center;
													align-items: center;
													text-decoration: none;
													transition: 0.5s; background: ;
													transition: 0.5s; color: #EAF7FE;
													font-weight: bold;
													font-family: sans-serif;
													padding: 5px;
													margin-left: 0px;}


#news		 										{width: 120px;
													height: 35px;
													border: 1px solid #EAF7FE;
													display: flex;
													justify-content: center;
													align-items: center;
													text-decoration: none;
													transition: 0.5s; background: ;
													transition: 0.5s; color: #EAF7FE;
													font-weight: bold;
													font-family: sans-serif;
													padding: 5px;
													margin-left: 0px;}	



/*End of Main*/


/*Start of Second Main*/

.second_main										{display: flex;
													flex-direction: column;
													padding-top: 3%;
													justify-content: center;
													padding-bottom: 3%;
													padding-left: 0;
													padding-right: 0;}


.second_main .second_main1							{display: flex;
													flex-direction: column;
													justify-content: center;
													align-items: center;
													padding-left: 0;
													padding-right: 0;}



.second_main .second_main2							{display: flex;
													flex-direction: column;
													justify-content: center;
													align-items: center;
													padding-left: 0;
													padding-right: 0;}


.second_main .second_main3							{display: flex;
													flex-direction: column;
													justify-content: center;
													align-items: center;
													padding-left: 0;
													padding-right: 0;}



.second_main .second_main4							{display: flex;
													flex-direction: column;
													justify-content: center;
													align-items: center;
													padding-left: 0;
													padding-right: 0;
													text-align: center;}



.second_main .second_main4 a 						{width: 180px;
													height: 35px;
													border: 1px solid #581C20;
													display: flex;
													justify-content: center;
													align-items: center;
													text-decoration: none;
													transition: 0.5s; background: ;
													transition: 0.5s; color: #581C20;
													font-weight: bold;
													font-family: sans-serif;
													padding: 5px;
													margin-left: 0px;}
